/* for extra small device */
@media (max-width:575.98px) {
    /* navbar part start */
    nav ul{
        display: none;
    }
    nav .btn{
        display: none;
    }
    nav .menu-bar{
        display: block;
        margin-right: 16px;
        font-size: 30px;
    }
    nav .school-name{
        display: none;
    }
    nav{
        justify-content: space-between;
       
    }
    nav h2{
        margin-left: 16px;
    }
    /* navbar part end here */

    /* banner part start here */
    .banner-container{
        flex-direction: column-reverse;
        text-align: center;
       
    }
  /* curriculum part start here */
.curriculum-wrapper{
   grid-template-columns: repeat(1,1fr);
}
.arrow-wrapper{
    display: none;
}
    
}