/* common css start here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 0.8;
    margin-bottom: 0;
}

/* google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* wrapper container */
.container {
    max-width: 1140px;
    margin: 0 auto;
}

.btn-primary {
    padding: 10px 60px;
    font-family: "Quicksand", serif;
    font-size: 20px;
    font-weight: 600;
    border-radius: 12px;
    background-color: #111111;
    display: inline-block;
    color: #FFF;
}

.common-header {
    font-family: "Quicksand", serif;
    font-size: 26px;
    font-weight: 700;
    color: #000;
    margin-bottom: 80px;
    text-align: center;
}

/* navbar css start here */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

nav ul {
    display: flex;
}

nav .school-name {
    font-family: "Quicksand", serif;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: #111111;
}

nav ul li {
    margin-right: 32px;
}

nav ul li a {
    font-family: "Quicksand", serif;
    font-size: 20px;
    font-weight: 700;
    color: #FEA301;
}

nav ul li:last-child a {
    margin-right: 0;
    color: #5D58EF;
}

nav ul li:nth-last-child(2) a {
    margin-right: 0;
    color: #05D4DF;
}

nav ul li:nth-last-child(3) a {
    margin-right: 0;
    color: #01ACFD;
}

nav .btn a {
    background-color: #FEA301;
    color: #FFF;

}
 nav .btn a:hover{
    background-color: #01ACFD;
    box-shadow: 0 10px 20px rgba(208, 21, 233, 0.837);
    color: #000000;
    transition: all linear .3s;
 }
nav .menu-bar {
    display: none;
}

/* banner part start here */
#banner {
    margin-top: 20px;
    margin-bottom: 60px;

}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content h1 {
    font-family: "Quicksand", serif;
    font-size: 56px;
    font-weight: 700;
    color: #111111;
    line-height: 61px;

}

.banner-content p {
    font-family: "Quicksand", serif;
    font-size: 20px;
    font-weight: 400;
    color: #111111;
    line-height: 24px;
    margin-top: 21px;
    margin-bottom: 21px;

}

.banner-content a {
    display: inline-block;
    font-family: "Quicksand", serif;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 45px;
    color: #FFF;
    background-color: #111111;
    border-radius: 12px;
}

.empower {
    color: #FEA301;
}

.vision {
    color: #01ACFD;
}

/* curriculum part start here */
#curriculum {
    background: url('../assets/bg.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
}

.curriculum-item {
    padding: 50px 40px;
    box-shadow: inset 0px 0px 28.3px 0.94px #DEF5FF;

    text-align: center;
    border-radius: 18px;
}

.curriculum-item:nth-child(2) {

    box-shadow: inset 0px 0px 28.3px 0.94px #FFF4DC;
}

.curriculum-item:nth-child(2) a {
    color: #F0AA00;
}

.curriculum-item:last-child {

    box-shadow: inset 0px 0px 28.3px 0.94px #F2E8FF;
}

.curriculum-item:last-child a {
    color: #8700FF;
}

.curriculum-item h4 {
    font-family: "Quicksand", serif;
    font-size: 24px;
    font-weight: 700;
    color: #202020;
    margin-top: 32px;
}

.curriculum-item p {
    font-family: "Raleway", serif;
    font-size: 15px;
    font-weight: 500;
    color: #808080;
    line-height: 28px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.curriculum-item a {
    font-family: "Quicksand", serif;
    font-size: 15px;
    font-weight: 700;
    color: #64C8FF;
}

.curriculum-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
}
.arrow-wrapper{
   display: flex;
   justify-content: center;
   margin-top: 80px;
   margin-bottom: 60px;
   gap: 10px;
}
.arrow-btn-1,.arrow-btn-2{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #FEA301;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear .3s;
}
.arrow-btn-1 a i,.arrow-btn-2 a i{
    color: #FFF;
    font-size: 24px;
    transition: all linear .3s;
}
.arrow-btn-1:hover{
  background-color: #01ACFD;
}
.arrow-btn-2:hover{
  background-color: #01ACFD;
}
.arrow-btn-2:hover a i{
    color: #000;
}
.arrow-btn-1:hover a i{
    color: #000;
}
.arrow-btn-1 a i,.arrow-btn-2 a i{
    color: #FFF;
    font-size: 24px;
}
/* our story part start here */
#ourStory{
    background: url('../assets/bg.png'), linear-gradient(to top,rgba(254, 161, 1, 0.3) 0%, rgba(255, 226, 171, 0.3) 67%,#FFFFFF 100%);
    ;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 80px;



 
}
.left-story{
    border-radius: 16px;
    text-align: justify;
width: 50%;

}
.left-story img{
    border-radius: 16px 16px 0 0;
    width: 100%;
}
.left-story h5{
    font-family: "Quicksand", serif;
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    line-height: 38px;

}
.left-story p{
    font-family: "Quicksand", serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 28px;
    color: #666;

}
.story-content{
    padding-top:48px;
    padding-bottom: 38px;
    padding-left: 38px;
    padding-right: 34px;
    background-color: #fff;
    border-radius: 0 0 16px 16px;
    width: 100%;
    position: relative;
}
.right-story {
    width: 50%;
}

.right-story img{
    width: 100%;
    border-radius: 16px 16px 0 0;

}
.right-story-content{
    padding-top: 38px;
    padding-left: 38px;
    padding-bottom: 28px;
    padding-right: 38px;
    background-color: #FFFF;
    width: 100%;
    border-radius: 0 0 16px 16px;
}
.right-story-content h5{
    font-family: "Quicksand", serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 28px;
    color: #000000;

}

.story-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.right-story{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.right-story-content{
    position: relative;
}
.story-content .date p{
    font-family: "Raleway", serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 28px;
    color: #ffff;
    padding: 10px 20px;
    background-color: #3CD8E8;
    border-radius: 48px;
    position: absolute;
    top: -25px;
    left: 25px;

}
.right-item .date p{
    font-family: "Raleway", serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 28px;
    color: #ffff;
    padding: 10px 20px;
    background-color: #95B226;
    border-radius: 48px;
    position: absolute;
    top: -25px;
    left: 25px;
}
.right-item:nth-child(2) .date p{
background-color: #5D58F0;
}
.view{
text-align: center;
margin-top: 90px;
margin-bottom: 70px;
}
/* footer section start here */
footer{
    background-color: #01ACFD;
    padding-top: 122px;
    padding-bottom: 174px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
}
.left-footer{
    width: 33%;
}
.left-footer h3{
    font-family: "Quicksand", serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 39px;
    color: #fff;
}
.mid-footer ul li:nth-child(1){
    margin-top: 32px;
}
.mid-footer ul li:nth-child(2){
    margin-top: 15px;
    margin-bottom: 15px;
}
.mid-footer ul li:nth-child(3){
    margin-top: 15px;
    margin-bottom: 15px;
}
.mid-footer h3{
    font-family: "Quicksand", serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 39px;
    color: #fff;
}
.right-footer h3{
    font-family: "Quicksand", serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
    color: #fff;
    margin-bottom: 32px;
}
.mid-footer li a{
    font-family: "Quicksand", serif;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}
.left-footer p{
    font-family: "Quicksand", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    color: #fff;
    margin-top: 35px;

}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 5px;
}